USE [master]
GO
/****** Object:  Database [INVYBAL]    Script Date: 25/04/2022 11:43:32 a. m. ******/
CREATE DATABASE [INVYBAL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'INVYBAL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\INVYBAL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'INVYBAL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\INVYBAL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [INVYBAL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [INVYBAL]
GO
/****** Object:  Table [dbo].[ABASTECIMIENTO]    Script Date: 25/04/2022 11:43:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ABASTECIMIENTO](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dia] [int] NULL,
	[mes] [int] NULL,
	[ano] [int] NULL,
	[num_fact] [varchar](150) NULL,
	[insumo] [int] NULL,
	[cantidad] [decimal](18, 2) NULL,
	[precio] [decimal](18, 0) NULL,
 CONSTRAINT [PK_ABASTECIMIENTO] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INVENTARIO]    Script Date: 25/04/2022 11:43:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVENTARIO](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](150) NULL,
	[medida] [int] NULL,
	[existencias] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Inventario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEDICION]    Script Date: 25/04/2022 11:43:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEDICION](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[medida] [varchar](50) NULL,
 CONSTRAINT [PK_MEDICION] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 25/04/2022 11:43:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[cod_producto] [int] NOT NULL,
	[descripcion] [varchar](150) NULL,
	[precio] [decimal](18, 0) NULL,
	[tipo1] [int] NULL,
	[cantidad1] [decimal](18, 2) NULL,
	[tipo2] [int] NULL,
	[cantidad2] [decimal](18, 2) NULL,
	[tipo3] [int] NULL,
	[cantidad3] [decimal](18, 2) NULL,
	[tipo4] [int] NULL,
	[cantidad4] [decimal](18, 2) NULL,
	[tipo5] [int] NULL,
	[cantidad5] [decimal](18, 2) NULL,
	[tipo6] [int] NULL,
	[cantidad6] [decimal](18, 2) NULL,
	[tipo7] [int] NULL,
	[cantidad7] [decimal](18, 2) NULL,
	[opcion1] [int] NULL,
	[cantop1] [decimal](18, 2) NULL,
	[precop1] [decimal](18, 2) NULL,
	[opcion2] [int] NULL,
	[cantop2] [decimal](18, 2) NULL,
	[precop2] [decimal](18, 2) NULL,
	[opcion3] [int] NULL,
	[cantop3] [decimal](18, 2) NULL,
	[precop3] [decimal](18, 2) NULL,
	[opcion4] [int] NULL,
	[cantop4] [decimal](18, 2) NULL,
	[precop4] [decimal](18, 2) NULL,
	[opcion5] [int] NULL,
	[cantop5] [decimal](18, 2) NULL,
	[precop5] [decimal](18, 2) NULL,
	[opcion6] [int] NULL,
	[cantop6] [decimal](18, 2) NULL,
	[precop6] [decimal](18, 2) NULL,
	[opcion7] [int] NULL,
	[cantop7] [decimal](18, 2) NULL,
	[precop7] [decimal](18, 2) NULL,
	[opcion8] [int] NULL,
	[cantop8] [decimal](18, 2) NULL,
	[precop8] [decimal](18, 2) NULL,
	[opcion9] [int] NULL,
	[cantop9] [decimal](18, 2) NULL,
	[precop9] [decimal](18, 2) NULL,
	[opcion10] [int] NULL,
	[cantop10] [decimal](18, 2) NULL,
	[precop10] [decimal](18, 2) NULL,
	[opcion11] [int] NULL,
	[cantop11] [decimal](18, 2) NULL,
	[precop11] [decimal](18, 2) NULL,
	[opcion12] [int] NULL,
	[cantop12] [decimal](18, 2) NULL,
	[precop12] [decimal](18, 2) NULL,
	[opcion13] [int] NULL,
	[cantop13] [decimal](18, 2) NULL,
	[precop13] [decimal](18, 2) NULL,
	[opcion14] [int] NULL,
	[cantop14] [decimal](18, 2) NULL,
	[precop14] [decimal](18, 2) NULL,
	[opcion15] [int] NULL,
	[cantop15] [decimal](18, 2) NULL,
	[precop15] [decimal](18, 2) NULL,
 CONSTRAINT [PK_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[cod_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLES]    Script Date: 25/04/2022 11:43:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLES](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Rol] [varchar](50) NULL,
 CONSTRAINT [PK_ROLES] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 25/04/2022 11:43:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[documento] [int] NOT NULL,
	[password] [varchar](50) NULL,
	[rol] [int] NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ABASTECIMIENTO]  WITH CHECK ADD  CONSTRAINT [INSUMO] FOREIGN KEY([insumo])
REFERENCES [dbo].[INVENTARIO] ([id])
GO
ALTER TABLE [dbo].[ABASTECIMIENTO] CHECK CONSTRAINT [INSUMO]
GO
ALTER TABLE [dbo].[INVENTARIO]  WITH CHECK ADD  CONSTRAINT [medida] FOREIGN KEY([medida])
REFERENCES [dbo].[MEDICION] ([id])
GO
ALTER TABLE [dbo].[INVENTARIO] CHECK CONSTRAINT [medida]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [op1] FOREIGN KEY([opcion1])
REFERENCES [dbo].[INVENTARIO] ([id])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [op1]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [op10] FOREIGN KEY([opcion10])
REFERENCES [dbo].[INVENTARIO] ([id])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [op10]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [op11] FOREIGN KEY([opcion11])
REFERENCES [dbo].[INVENTARIO] ([id])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [op11]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [op12] FOREIGN KEY([opcion12])
REFERENCES [dbo].[INVENTARIO] ([id])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [op12]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [op13] FOREIGN KEY([opcion13])
REFERENCES [dbo].[INVENTARIO] ([id])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [op13]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [op14] FOREIGN KEY([opcion14])
REFERENCES [dbo].[INVENTARIO] ([id])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [op14]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [op15] FOREIGN KEY([opcion15])
REFERENCES [dbo].[INVENTARIO] ([id])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [op15]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [op2] FOREIGN KEY([opcion2])
REFERENCES [dbo].[INVENTARIO] ([id])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [op2]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [op3] FOREIGN KEY([opcion3])
REFERENCES [dbo].[INVENTARIO] ([id])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [op3]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [op4] FOREIGN KEY([opcion4])
REFERENCES [dbo].[INVENTARIO] ([id])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [op4]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [op5] FOREIGN KEY([opcion5])
REFERENCES [dbo].[INVENTARIO] ([id])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [op5]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [op6] FOREIGN KEY([opcion6])
REFERENCES [dbo].[INVENTARIO] ([id])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [op6]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [op7] FOREIGN KEY([opcion7])
REFERENCES [dbo].[INVENTARIO] ([id])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [op7]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [op8] FOREIGN KEY([opcion8])
REFERENCES [dbo].[INVENTARIO] ([id])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [op8]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [op9] FOREIGN KEY([opcion9])
REFERENCES [dbo].[INVENTARIO] ([id])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [op9]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [t1] FOREIGN KEY([tipo1])
REFERENCES [dbo].[INVENTARIO] ([id])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [t1]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [t2] FOREIGN KEY([tipo2])
REFERENCES [dbo].[INVENTARIO] ([id])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [t2]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [t3] FOREIGN KEY([tipo3])
REFERENCES [dbo].[INVENTARIO] ([id])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [t3]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [t4] FOREIGN KEY([tipo4])
REFERENCES [dbo].[INVENTARIO] ([id])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [t4]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [t5] FOREIGN KEY([tipo5])
REFERENCES [dbo].[INVENTARIO] ([id])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [t5]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [t6] FOREIGN KEY([tipo6])
REFERENCES [dbo].[INVENTARIO] ([id])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [t6]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [t7] FOREIGN KEY([tipo7])
REFERENCES [dbo].[INVENTARIO] ([id])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [t7]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [rol] FOREIGN KEY([rol])
REFERENCES [dbo].[ROLES] ([id])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [rol]
GO
USE [master]
GO
